.task {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 10px;
}

.task-text {
    margin: 0;
}

.task .delete-btn {
    color: red;
}

.crossed {
    text-decoration: line-through;
}