#add-task-form {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.add-task-input {
    flex-grow: 1;
    padding: 10px;
}

.add-btn {
    margin-left: 10px;
}

.error-text {
    color: red;
    margin-top: 0;
}